
<div class="wrap" id="content-wrap">


    <section class="container main-section clearfix">


        <section class="mini-sidebar">
            <header class="browse-by-wrap clearfix">
                <h2 class="browse-by-title">Browse By</h2>
                <a href="#" class="close-browse-by"><i class="fa fa-times"></i></a>
            </header>

            <aside class="side-box">
                <h3 class="sidebar-heading" id="mini-first-title">Simple Menu</h3>
                <nav class="sb-content clearfix">
                    <ul class="normal-list">
                        <li class=""><a href="../index.html" title="Go Home">Main Page</a></li>
                        <li id="menu-item-226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-226"><a target="_blank" href="http://www.acosmin.com/theme/justwrite-pro/">WooCommerce</a></li>
                        <li id="menu-item-453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-453"><a href="http://www.acosmin.com/theme/justwrite-pro/">JustWrite Pro</a></li>
                        <li id="menu-item-227" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-227"><a href="../category/opinions/index.html">Opinions</a></li>
                    </ul>
                </nav>
            </aside>

            <aside class="side-box">
                <h3 class="sidebar-heading" id="mini-second-title">Another 1</h3>
                <nav class="sb-content clearfix">
                    <ul class="normal-list">
                        <li id="menu-item-230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-230"><a target="_blank" href="http://www.acosmin.com/theme/justwrite-pro/">Justwrite Pro</a></li>
                        <li id="menu-item-229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-229"><a href="#">Easy Link</a></li>
                        <li id="menu-item-231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-231"><a href="#">Sample #2</a></li>
                    </ul>
                </nav>
            </aside>

            <aside class="side-box">
                <h3 class="sidebar-heading">Archives</h3>
                <nav class="sb-content clearfix">
                    <ul class="normal-list">
                        <li><a href='../2015/10/index.html'>October 2015</a></li>
                        <li><a href='../2015/09/index.html'>September 2015</a></li>
                        <li><a href='../2015/08/index.html'>August 2015</a></li>
                        <li><a href='../2015/07/index.html'>July 2015</a></li>
                        <li><a href='../2015/06/index.html'>June 2015</a></li>
                        <li><a href='../2015/05/index.html'>May 2015</a></li>
                        <li><a href='../2015/04/index.html'>April 2015</a></li>
                        <li><a href='../2015/03/index.html'>March 2015</a></li>
                        <li><a href='../2015/02/index.html'>February 2015</a></li>
                        <li><a href='../2015/01/index.html'>January 2015</a></li>
                        <li><a href='../2013/11/index.html'>November 2013</a></li>
                        <li><a href='../2013/08/index.html'>August 2013</a></li>
                    </ul>
                </nav>
            </aside>

            <div class="side-box larger">
                <h3 class="sidebar-heading">Calendar</h3>
                <div class="sb-content clearfix">
                    <table id="wp-calendar">
                        <caption>April 2020</caption>
                        <thead>
                            <tr>
                                <th scope="col" title="Monday">M</th>
                                <th scope="col" title="Tuesday">T</th>
                                <th scope="col" title="Wednesday">W</th>
                                <th scope="col" title="Thursday">T</th>
                                <th scope="col" title="Friday">F</th>
                                <th scope="col" title="Saturday">S</th>
                                <th scope="col" title="Sunday">S</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <td colspan="3" id="prev"><a href="../2015/10/index.html">&laquo; Oct</a></td>
                                <td class="pad">&nbsp;</td>
                                <td colspan="3" id="next" class="pad">&nbsp;</td>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr>
                                <td colspan="2" class="pad">&nbsp;</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td id="today">10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td class="pad" colspan="3">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="wrap-over-1600">
                <div class="b160-wrap">
                    <div class="d160">
                        <h5 class="bsmall-title"><a href="#" id="mini-ad-title">Advertising</a></h5><a href="#" title="try JustWrite Pro"><img src="../wp-content/uploads/2015/10/1_60.jpg" alt="img" /></a>
                    </div>
                </div>

            </div>
        </section>

        <div class="mini-sidebar-bg"></div>

        <div class="wrap-template-1 clearfix">

            <section class="content-wrap clearfix" role="main">
                <section class="posts-wrap single-style-template-1 clearfix">


                    @*<article id="post-110" class="single-template-1 clearfix post-110 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment tag-fgds tag-jkjsa tag-opre">
                            <div class="post-content">
                                <h2 class="title">Senate advances defense bill despite veto threat</h2>        <header class="details clearfix">
                                    <time class="detail left index-post-date" datetime="2010-08-28">Aug 28, 2010</time>			<span class="detail left index-post-author"><em>by</em> <a href="../author/demoadmin/index.html">johndoe</a></span>			<span class="detail left index-post-category"><em>in</em> <a href="../category/entertainment/index.html" title="View all posts in Entertainment">Entertainment</a> </span>
                                </header>
                                <figure class="featured-image-wrap">
                                    <img width="638" height="368" src="../wp-content/uploads/2015/10/startup-photos-638x368.jpg" class="attachment-ac-sidebar-featured size-ac-sidebar-featured wp-post-image" alt="startup-photos" srcset="http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/startup-photos-638x368.jpg 638w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/startup-photos-300x173.jpg 300w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/startup-photos-600x347.jpg 600w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/startup-photos.jpg 900w" sizes="(max-width: 638px) 100vw, 638px" />
                                </figure>

                                <div class="single-content featured-image">
                                    <p>Facebook founder and CEO Mark Zuckerberg is scheduled to give Monday&#8217;s keynote speech atMobile World Congress in Barcelona at 12 p.m. ET.</p>
                                    <p>Tech journalist David Kirkpatrick, who will also appear on stage with <strong>Zuckerberg</strong>, will chair the keynote. The two &#8220;will explore the importance of extending the benefits of ubiquitous Internet access to the unconnected world,&#8221; according to MWC organizer GSMA, a group that represents mobile operators. You can watch the live stream here.</p>
                                    <p>Facebook&#8217;s massive $19 billion acquisition of <a href="#">WhatsApp</a> last week will likely play a big role in the discussion. <em>WhatsApp CEO Jan Koum</em> is also on Monday&#8217;s MWC agenda. Koum is one of the speakers scheduled for the day&#8217;s second keynote, &#8220;Mobile, Disrupted: Challenging the State of Play.&#8221;</p>
                                    <h1>This is an example of Heading H1</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text.</p>
                                    <h2>This is an example of Heading H2</h2>
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#8216;Content here, content here&#8217;, making it look like readable English.</p>
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#8216;lorem ipsum&#8217; will uncover many web sites still in their infancy.</p>
                                    <div class="post-tags-wrap clearfix"><strong>Tagged with:</strong> <span><a href="../tag/fgds/index.html" rel="tag">fgds</a></span>, <span><a href="../tag/jkjsa/index.html" rel="tag">jkjsa</a></span>, <span><a href="../tag/opre/index.html" rel="tag">opre</a></span></div>
                                </div>
                            </div>
                        </article>*@

                </section>


                <section id="comments" class="comments-area">
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h3>				<form action="http://demo.acosmin.com/themes/justwrite/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                            <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true' required='required' /></p>
                            <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required='true' required='required' /></p>
                            <p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
                            <p class="form-submit">
                                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='110' id='comment_post_ID' />
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                            </p>
                        </form>
                    </div>
                </section>
            </section>


            <section class="sidebar posts-sidebar clearfix">
                <aside id="ac_social_buttons_widget-3" class="side-box clearfix widget ac-social-buttons-widget">
                    <div class="sb-content clearfix">
                        <ul class="sidebar-social clearfix">
                            <li class="alignleft"><a href="#" class="social-btn twitter">Twitter <i class="fa fa-twitter"></i> </a></li>
                            <li class="alignright"><a href="#" class="social-btn facebook">Facebook <i class="fa fa-facebook"></i> </a></li>
                            <li class="alignleft"><a href="#" class="social-btn google-plus">Google+ <i class="fa fa-google-plus"></i> </a></li>
                            <li class="alignright"><a href="#" class="social-btn rss">Subscirbe <i class="fa fa-rss"></i> </a></li>
                        </ul>
                    </div>
                </aside>
                <aside id="ac_recent_posts_widget-2" class="side-box clearfix widget ac_recent_posts_widget">
                    <div class="sb-content clearfix">
                        <h3 class="sidebar-heading">Recent Posts</h3>
                        <ul class="ac-recent-posts">
                            <li class="clearfix">
                                <figure class="thumbnail">
                                    <img width="210" height="140" src="../wp-content/uploads/2015/10/controller-pad-afternoon-xbox-210x140.jpg" class="attachment-ac-sidebar-small-thumbnail size-ac-sidebar-small-thumbnail wp-post-image" alt="controller-pad-afternoon-xbox" srcset="http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/controller-pad-afternoon-xbox-210x140.jpg 210w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/controller-pad-afternoon-xbox-600x400.jpg 600w" sizes="(max-width: 210px) 100vw, 210px" />
                                </figure>
                                <div class="details">
                                    <span class="category"><a href="../category/politics/index.html" title="View all posts in Politics">Politics</a> </span>
                                    <a href="../boehner-hypercuts-himself-on-isis-comments/index.html" class="title" rel="bookmark">Boehner hypercuts himself on ISIS comments</a>					<a href="../boehner-hypercuts-himself-on-isis-comments/index.html#comments" class="comments-number">3 Comments</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <figure class="thumbnail">
                                    <img width="210" height="140" src="../wp-content/uploads/2015/10/photo-1422479516648-9b1f0b6e8da8-210x140.jpg" class="attachment-ac-sidebar-small-thumbnail size-ac-sidebar-small-thumbnail wp-post-image" alt="photo-1422479516648-9b1f0b6e8da8" srcset="http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/photo-1422479516648-9b1f0b6e8da8-210x140.jpg 210w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/photo-1422479516648-9b1f0b6e8da8-600x400.jpg 600w" sizes="(max-width: 210px) 100vw, 210px" />
                                </figure>
                                <div class="details">
                                    <span class="category"><a href="../category/testing/index.html" title="View all posts in Testing">Testing</a> </span>
                                    <a href="../nintendo-second-quarter-profit-dips-plans/index.html" class="title" rel="bookmark">Nintendo second-quarter profit dips plans</a>					<a href="../nintendo-second-quarter-profit-dips-plans/index.html#respond" class="comments-number">0 Comments</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <figure class="thumbnail">
                                    <img width="210" height="140" src="../wp-content/uploads/2015/10/Apple-Sport-Watch-Black-On-Mans-Wrist-In-An-Office-210x140.jpg" class="attachment-ac-sidebar-small-thumbnail size-ac-sidebar-small-thumbnail wp-post-image" alt="Apple-Sport-Watch-Black-On-Mans-Wrist-In-An-Office" srcset="http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/Apple-Sport-Watch-Black-On-Mans-Wrist-In-An-Office-210x140.jpg 210w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/Apple-Sport-Watch-Black-On-Mans-Wrist-In-An-Office-600x400.jpg 600w" sizes="(max-width: 210px) 100vw, 210px" />
                                </figure>
                                <div class="details">
                                    <span class="category"><a href="../category/imperial/index.html" title="View all posts in Imperial">Imperial</a> </span>
                                    <a href="../bombardier-to-book-writedowns-get-cash-from-quebec/index.html" class="title" rel="bookmark">Bombardier to book writedowns, get cash from Quebec</a>					<a href="../bombardier-to-book-writedowns-get-cash-from-quebec/index.html#respond" class="comments-number">0 Comments</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside id="ac_b300_widget-3" class="side-box clearfix widget ac_b300_widget">
                    <div class="sb-content clearfix">
                        <div class="b300-wrap clearfix">
                            <h5 class="bsmall-title"><a href="#">300px Ad Widget</a></h5>
                            <a href="#" title="try JustWrite Pro"><img src="../wp-content/uploads/2015/10/3_00.jpg" alt="img" /></a>
                        </div>
                    </div>
                </aside>
                <aside id="ac_featured_posts_widget-2" class="side-box clearfix widget ac_featured_posts_widget">
                    <div class="sb-content clearfix">
                        <h3 class="sidebar-heading">Featured Posts</h3>
                        <ul class="ac-featured-posts">
                            <li id="featured-post-1">
                                <figure class="thumbnail">
                                    <img width="638" height="368" src="../wp-content/uploads/2015/10/house_of_cards_frank_underwood_kevin_spacey_102090_3840x2160-638x368.jpg" class="attachment-ac-sidebar-featured size-ac-sidebar-featured wp-post-image" alt="house_of_cards_frank_underwood_kevin_spacey_102090_3840x2160" srcset="http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/house_of_cards_frank_underwood_kevin_spacey_102090_3840x2160-638x368.jpg 638w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/house_of_cards_frank_underwood_kevin_spacey_102090_3840x2160-300x173.jpg 300w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/house_of_cards_frank_underwood_kevin_spacey_102090_3840x2160-600x347.jpg 600w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/house_of_cards_frank_underwood_kevin_spacey_102090_3840x2160.jpg 900w" sizes="(max-width: 638px) 100vw, 638px" />
                                    <figcaption class="details">
                                        <span class="category"><a href="../category/business/index.html" title="View all posts in Business">Business</a> </span>
                                        <a href="../typography-and-headings-go-so-well-together-all-the-time/index.html" class="title" rel="bookmark">Typography and Headings Go So Well Together All the Time</a>
                                        <a href="../typography-and-headings-go-so-well-together-all-the-time/index.html" title="Read More" class="read-more"><i class="fa fa-ellipsis-h fa-lg"></i> </a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li id="featured-post-2">
                                <figure class="thumbnail">
                                    <img width="638" height="368" src="../wp-content/uploads/2015/10/4792_house_of_cards-638x368.jpg" class="attachment-ac-sidebar-featured size-ac-sidebar-featured wp-post-image" alt="4792_house_of_cards" srcset="http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/4792_house_of_cards-638x368.jpg 638w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/4792_house_of_cards-300x173.jpg 300w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/4792_house_of_cards-600x347.jpg 600w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/4792_house_of_cards.jpg 900w" sizes="(max-width: 638px) 100vw, 638px" />
                                    <figcaption class="details">
                                        <span class="category"><a href="../category/travel/index.html" title="View all posts in Travel">Travel</a> </span>
                                        <a href="../html-tags-forms-inputs-and-formatting-examples/index.html" class="title" rel="bookmark">HTML Tags, Forms, Inputs and Formatting Examples</a>
                                        <a href="../html-tags-forms-inputs-and-formatting-examples/index.html" title="Read More" class="read-more"><i class="fa fa-ellipsis-h fa-lg"></i> </a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li id="featured-post-3">
                                <figure class="thumbnail">
                                    <img width="638" height="368" src="../wp-content/uploads/2015/10/162H-638x368.jpg" class="attachment-ac-sidebar-featured size-ac-sidebar-featured wp-post-image" alt="162H" srcset="http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/162H-638x368.jpg 638w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/162H-300x173.jpg 300w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/162H-600x347.jpg 600w, http://demo.acosmin.com/themes/justwrite/wp-content/uploads/2015/10/162H.jpg 900w" sizes="(max-width: 638px) 100vw, 638px" />
                                    <figcaption class="details">
                                        <span class="category"><a href="../category/politics/index.html" title="View all posts in Politics">Politics</a> </span>
                                        <a href="../new-section-widgets-in-a-1-2-3-paginated-post/index.html" class="title" rel="bookmark">New Section Widgets in a 1, 2, 3 Paginated Post</a>
                                        <a href="../new-section-widgets-in-a-1-2-3-paginated-post/index.html" title="Read More" class="read-more"><i class="fa fa-ellipsis-h fa-lg"></i> </a>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside id="ac_b125_widget-3" class="side-box clearfix widget ac_b125_widget">
                    <div class="sb-content clearfix">
                        <div class="b125-wrap clearfix">
                            <h5 class="bsmall-title"><a href="#">125px Ads Widget</a></h5>
                            <ul>
                                <li class="left"><a href="#" title="oh yea"><img src="../wp-content/uploads/2015/10/1_25.jpg" alt="img" /></a></li>
                                <li class="right"><a href="#" title="oh yea"><img src="../wp-content/uploads/2015/10/1_25.jpg" alt="img" /></a></li>
                                <li class="left last"><a href="#" title="oh yea"><img src="../wp-content/uploads/2015/10/1_25.jpg" alt="img" /></a></li>
                                <li class="right last"><a href="#" title="oh yea"><img src="../wp-content/uploads/2015/10/1_25.jpg" alt="img" /></a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </section>
        </div>
    </section>
</div>


