
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="pingback" href="xmlrpc.php" />
    <title>JustWrite &#8211; Just another WordPress theme</title>
    <meta name='robots' content='noindex,follow' />
    <link href="~/_Css/Layout.css" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" title="JustWrite &raquo; Feed" href="http://feeds.feedburner.com/acosmin" />
    <link rel="alternate" type="application/rss+xml" title="JustWrite &raquo; Comments Feed" href="comments/feed/index.html" />
    <script src="~/_Js/Layout.js"></script>
    <link rel='stylesheet' id='ac_style-css' href='wp-content/themes/justwrite/styled5f7.css?ver=2.0' type='text/css' media='all' />
    <link rel='stylesheet' id='ac_icons-css' href='wp-content/themes/justwrite/assets/icons/css/font-awesome.min474a.css?ver=4.4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='ac_webfonts_style5-css' href='http://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C700%7CLato%3A400%2C700%2C900%2C400italic%2C700italic' type='text/css' media='all' />
    <link rel='stylesheet' id='ac_webfonts_selected-style5-css' href='wp-content/themes/justwrite/assets/css/font-style5.css' type='text/css' media='all' />
    <script type='text/javascript' src='wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='wp-content/themes/justwrite/assets/js/owl.carousel.min001e.js?ver=2.0.0'></script>
    <script type='text/javascript' src='wp-content/themes/justwrite/assets/js/html53088.js?ver=3.7.0'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.20" />

</head>
<body class="home blog">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2008245-2']);
        _gaq.push(['_setDomainName', 'acosmin.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <div id="ac-preloader"><div class="ac-loader ac-ball-pulse"><div></div><div></div><div></div></div></div>
    <header id="main-header" class="header-wrap">
        <div class="wrap second-menu-wrap">
            <nav class="sm-container clearfix" role="navigation">
                <ul class="second-menu mobile-menu-2 superfish">
                    <li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-209"><a href="index.html">Homepage</a></li>
                    <li id="menu-item-210" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-210">
                        <a href="#">Page Templates</a>
                        <ul class="sub-menu">
                            <li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a href="new-simple-page-for-you/index.html">Simple Page</a></li>
                            <li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"><a href="new-full-width-simple-page/index.html">Full Width Page</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-211" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-211">
                        <a href="#">Drop Down</a>
                        <ul class="sub-menu">
                            <li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"><a href="#">Testing Element</a></li>
                            <li id="menu-item-245" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-245"><a href="#">Item #1</a></li>
                            <li id="menu-item-247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-247">
                                <a href="#">Sub-menu</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-248" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-248"><a href="#">Testing #1</a></li>
                                    <li id="menu-item-249" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-249"><a href="#">Item #2</a></li>
                                    <li id="menu-item-250" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-250">
                                        <a href="#">Sub-menu</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251"><a href="#">Element</a></li>
                                            <li id="menu-item-252" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-252"><a href="#">Item #3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-246" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-246"><a href="#">Another One</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-431"><a href="typography-and-headings-go-so-well-together-all-the-time/index.html">Typography</a></li>
                    <li id="menu-item-213" class="colored menu-item menu-item-type-custom menu-item-object-custom menu-item-213"><a href="#">Colored Item</a></li>
                    <li id="menu-item-353" class="colored menu-item menu-item-type-custom menu-item-object-custom menu-item-353"><a href="#">Login</a></li>
                    <li id="menu-item-354" class="colored menu-item menu-item-type-custom menu-item-object-custom menu-item-354"><a href="#">Register</a></li>
                </ul><aside class="sm-btn"><a href="#" class="mobile-menu-button-2"><i class="fa fa-navicon"></i> </a></aside><aside class="date">Thursday, April 9th, 2020</aside>
            </nav>
        </div>
        <div class="wrap">

            <div class="top logo-text logo-centered clearfix">

                <div class="logo logo-text logo-centered">
                    <a href="index.html" title="JustWrite" class="logo-contents logo-text logo-centered">JustWrite</a>
                </div><!-- END .logo -->


            </div><!-- END .top -->


            <nav class="menu-wrap" role="navigation">
                <ul class="menu-main mobile-menu superfish">
                    <li id="menu-item-204" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-204"><a href="index.html">Home</a></li>
                    <li id="menu-item-206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-206">
                        <a href="#">Theme Features</a>
                        <ul class="sub-menu">
                            <li id="menu-item-290" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a title="New" href="widgetized-index/index.html">Widgetized Index</a></li>
                            <li id="menu-item-368" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-368">
                                <a title="New" href="#">Sections</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-367"><a href="slider-1/index.html">Slider #1</a></li>
                                    <li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366"><a href="masonry-1/index.html">Masonry #1</a></li>
                                    <li id="menu-item-365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365"><a href="masonry-2/index.html">Masonry #2</a></li>
                                    <li id="menu-item-379" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379"><a href="categories-2-columns/index.html">Categories: 2 Columns</a></li>
                                    <li id="menu-item-378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-378"><a href="categories-3-columns/index.html">Categories: 3 Columns</a></li>
                                    <li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377"><a href="categories-4-columns/index.html">Categories: 4 Columns</a></li>
                                    <li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388"><a href="advertisng/index.html">Advertisng</a></li>
                                    <li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389"><a href="archives/index.html">Archives</a></li>
                                    <li id="menu-item-390" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390"><a href="social-profiles/index.html">Social Profiles</a></li>
                                    <li id="menu-item-391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391"><a href="popular-posts/index.html">Popular Posts</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-286" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-286">
                                <a title="New" href="#">Font Pairing</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="fonts-1/index.html">Fonts #1</a></li>
                                    <li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="fonts-2/index.html">Fonts #2</a></li>
                                    <li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283"><a href="fonts-3/index.html">Fonts #3</a></li>
                                    <li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-282"><a href="fonts-4/index.html">Fonts #4</a></li>
                                    <li id="menu-item-281" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-281"><a title="New" href="fonts-5-default/index.html">Fonts #5 (Default)</a></li>
                                    <li id="menu-item-280" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-280"><a title="New" href="fonts-6/index.html">Fonts #6</a></li>
                                    <li id="menu-item-279" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-279"><a title="New" href="fonts-7/index.html">Fonts #7</a></li>
                                    <li id="menu-item-278" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-278"><a title="New" href="fonts-8/index.html">Fonts #8</a></li>
                                    <li id="menu-item-277" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-277"><a title="New" href="fonts-9/index.html">Fonts #9</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-310" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-310">
                                <a title="New" href="#">Freebies</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-311" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-311"><a title="Plugin" href="#">Top &#8211; Small Navigation</a></li>
                                    <li id="menu-item-415" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-415">
                                        <a title="Plugin" href="page-preloader/index.html">Page Preloader</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"><a href="loading-1/index.html">Loading #1</a></li>
                                            <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404"><a href="balls-spinner/index.html">Balls Spinner</a></li>
                                            <li id="menu-item-405" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-405"><a href="ball-puls/index.html">Ball Puls</a></li>
                                            <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406"><a href="ball-beat/index.html">Ball Beat</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-350" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-350"><a title="Plugin" href="#">Twitter Widget</a></li>
                                    <li id="menu-item-351" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-351"><a title="Plugin" href="#">300&#038;125px Ads Widget</a></li>
                                    <li id="menu-item-352" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-352"><a href="#">Child Theme Starter</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-312" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-312">
                                <a href="#">Header Options</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="background-image/index.html">Background Image</a></li>
                                    <li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-318">
                                        <a href="#">Logo</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-321" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a title="New" href="centered-description/index.html">Centered + Description</a></li>
                                            <li id="menu-item-324" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324"><a href="align-left-2/index.html">Align Left</a></li>
                                            <li id="menu-item-330" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-330"><a href="image-logo/index.html">Image Logo</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-345"><a href="728x90px-ad/index.html">728x90px AD</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-346" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-346">
                                <a title="New" href="#">Menu Bubbles</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-347" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-347"><a title="this item has a" href="#">Bubble :)</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-335" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-335"><a href="featured-posts-slider/index.html">Featured Posts Slider</a></li>
                            <li id="menu-item-296" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-296">
                                <a title="New" href="#">Align Thumbnail</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="align-left/index.html">Align Left</a></li>
                                    <li id="menu-item-297" class="bubble menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a title="New" href="no-thumbnail/index.html">No Thumbnail</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-339" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-339">
                                <a title="New" href="#">Mobile Menu</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-338" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-338"><a href="morphing-point/index.html">Morphing Point</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-348" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-348">
                                <a href="#">More Options</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-300">
                                        <a href="#">Disabled</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="fixed-menu/index.html">Fixed Menu</a></li>
                                            <li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="mini-sidebar/index.html">Mini Sidebar</a></li>
                                            <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"><a href="footer-widgets/index.html">Footer Widgets</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-342">
                                        <a href="#">Page Templates</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341"><a href="new-simple-page-for-you/index.html">Default</a></li>
                                            <li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="new-full-width-simple-page/index.html">Full Width</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-207">
                                <a href="#">Customizer</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="index/index.html">Index</a></li>
                                    <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="customizer-post/index.html">Post</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-461" class="bubble menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-461">
                        <a title="New" href="#">Post Layouts</a>
                        <ul class="sub-menu">
                            <li id="menu-item-471" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-471"><a href="this-is-a-post-with-a-normal-layout-selected-as-default/index.html">Normal &#8211; Default</a></li>
                            <li id="menu-item-470" class="bubble menu-item menu-item-type-post_type menu-item-object-post menu-item-470"><a title="New" href="this-is-a-post-with-a-billboard-layout-selected-as-default/index.html">Billboard</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-479"><a href="http://www.acosmin.com/theme/justwrite/#theme-actions">Download</a></li>
                </ul>
                <a href="#" class="mobile-menu-button"><i class="fa fa-navicon"></i> </a>
                <a href="#" class="browse-more" id="browse-more"><i class="fa fa-ellipsis-v"></i> </a>
                <a href="#" class="search-button"><i class="fa fa-search"></i> </a>
                <ul class="header-social-icons show clearfix"><li><a href="https://twitter.com/acosmin" class="social-btn left twitter"><i class="fa fa-twitter"></i> </a></li><li><a href="https://www.facebook.com/acosmincom" class="social-btn left facebook"><i class="fa fa-facebook"></i> </a></li><li><a href="https://plus.google.com/+acosmin" class="social-btn left google-plus"><i class="fa fa-google-plus"></i> </a></li><li><a href="http://feeds.feedburner.com/acosmin" class="social-btn right rss"><i class="fa fa-rss"></i> </a></li></ul><!-- END .header-social-icons -->


                <div class="search-wrap nobs">
                    <form role="search" id="header-search" method="get" class="search-form" action="http://demo.acosmin.com/themes/justwrite/">
                        <input type="submit" class="search-submit" value="Search" />
                        <div class="field-wrap">
                            <input type="search" class="search-field" placeholder="type your keywords ..." value="" name="s" title="Search for:" />
                        </div>
                    </form>
                </div><!-- END .search-wrap -->

            </nav><!-- END .menu-wrap -->


        </div>
    </header>

    @RenderBody()
    <script type='text/javascript' src='wp-content/themes/justwrite/assets/js/imagesloaded.min3a79.js?ver=3.1.8'></script>
    <script type='text/javascript' src='wp-includes/js/masonry.min0226.js?ver=3.1.2'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery.masonry.min0226.js?ver=3.1.2'></script>
    <script type='text/javascript' src='wp-content/themes/justwrite/assets/js/jquery.fitvids4963.js?ver=1.1'></script>
    <script type='text/javascript' src='wp-content/themes/justwrite/assets/js/menu-dropdownb493.js?ver=1.4.8'></script>
    <script type='text/javascript' src='wp-content/themes/justwrite/assets/js/slider9d8e.js?ver=0.3.0'></script>
    <script type='text/javascript' src='wp-content/themes/justwrite/assets/js/myscripts0ba6.js?ver=1.0.6'></script>
    <script type='text/javascript' src='wp-includes/js/wp-embed.mine539.js?ver=4.5.20'></script>

</body>


</html>
